*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
}

.container{
    display: inline-flex;
    list-style: none;
}

.container li{
    position: relative;
    height: 70px;
    width: 70px;
    border: 2px solid #7b00e0;
    margin: 0 15px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.container li:hover{
    transition: background 0.001s ease 0.3s;
    background: #7b00e0;
}

.container li:before,
.container li:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: 0px solid transparent;
    transition: all 0.25s ease;
}

.container li:hover:before{
    border-width: 70px;
    border-top-color: #7b00e0;
    transition: border-top-width 0.3s ease, border-top-color .3s ease;
}

.container li:hover:after{
    border-width: 70px;
    border-left-color: #7b00e0;
    transition: border-left-width 0.3s ease, border-left-color .3s ease;
}

.container li a{
    line-height: 70px;
    font-size: 30px;
    color: #7b00e0;
    z-index: 1;
    position: relative;
    transition: all .25s ease;
}

.container li:hover a{
    color: #fff;

}